@{
    ViewData["Title"] = "Employees";
}

@model EmployeesViewModel

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full name</th>
            <th>Photo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
        {
            <partial name="EmployeeSummary" model="employee"/>
        }
    </tbody>
</table>
