@{
    ViewData["Title"] = "Employees";
}

@model EmployeesViewModel

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full name</th>
            <th>Photo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
        {
            <partial name="EmployeeSummary" model="employee"/>
        }
    </tbody>
</table>

@if (Model.PageViewModel.Offset > 0)
{
    <a class="btn btn-info" href="/Employees/Index?offset=@(Model.PageViewModel.Offset > Model.PageViewModel.Limit ? Model.PageViewModel.Offset - Model.PageViewModel.Limit : 0)">
        Previous page
    </a>
}
else
{
    <a class="btn btn-info disabled" href="">
        Previous page
    </a>
}

@if (Model.PageViewModel.Count >= Model.PageViewModel.Limit)
{
    <a class="btn btn-info" href="/Employees/Index?offset=@(Model.PageViewModel.Offset + Model.PageViewModel.Limit)">
        Next page
    </a>
}
else
{
    <a class="btn btn-info disabled" href="">
        Next page
    </a>
}
