@model Product

<tr>
    <td>@Model.Id</td>
    <td>@Model.Name</td>
    <td>@(((decimal)Model.UnitPrice).ToString("c"))</td>
    <td>
        <NavLink class="btn btn-warning btn-sm" href="">
            Edit
        </NavLink>

        <form method="post" asp-action="Remove" asp-controller="Products">
		    <input type="hidden" name="id" value="@Model.Id"/>
		    <button type="submit" class="btn btn-sm btn-danger">
			    Remove
		    </button>
	    </form>
    </td>
</tr>